html, body, #app{
    height:100%;
}

body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
}

.side-panel-h2{
    font-size:24px;
    font-weight:600;
    margin:8px 0;
}

.side-panel-h3{
    font-size:18px;
    font-weight:600;
    margin:8px 0;
}

.dl-inline dt, dd { 
    display: block;
    float: left;
}
.dl-inline dt { 
    clear: both; 
    font-weight: 600;
    margin-right:5px;
}

.dl-inline dd { 
    margin-left:0;
}

.dl-inline::after{
    clear: both;
    content: "";
    display:table;
}

.button{
    background-color: rgb(130,68,190);
    color:white;
    font-size:inherit;
    font-family: inherit;
    border-style:none;
    padding:8px;
    margin:2px 2px 2px 0;
    border-radius:4px;
}

.button:hover{
    background-color: rgb(86,27,119);
}

.text-input{
    font-size:inherit;
    font-family: inherit;
    padding:8px;
    border:1px solid gray;
    border-radius:4px;
}

.text-input-invalid{
    border-color:rgb(190, 39, 2);
}

.input-error-message{
    color:rgb(190, 39, 2);
    margin-top:2px;
}

.radio-input{
    margin-right:8px;
}

.checkbox-input{
    margin-right:8px;
}

.input-label-group{
    padding:0;
    margin-top:12px;
}

.input-label-group .text-label{
    display:block;
}

.input-label-group .text-input{
    display:block;
    width:100%;
    box-sizing: border-box;
    margin-top:5px;
}

.radio-set-container{
    padding:0;
    margin-top:12px;
}

.radio-set-legend{
    margin-top:8px;
    margin-bottom:8px;
}

.radio-set-content{
    margin-left:8px;
}

.file-input-button{
    display:inline-block;
    background-color: rgb(130,68,190);
    color:white;
    font-size:inherit;
    font-family: inherit;
    border-style:none;
    padding:8px;
    margin:2px 2px 2px 0;
    border-radius:4px;
}

.file-input-button:hover{
    background-color: rgb(86,27,119);
}

.file-input-hidden{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.buttons-right{
    text-align:right;
    margin-top:8px;
}

.error-message{
    color:rgb(190, 39, 2);
    margin-top:8px;
    margin-bottom:8px;
}

.success-message{
    color:green;
    margin-top:8px;
    margin-bottom:8px;
}


.dropdown-toggle::after{
    margin-left:0.5rem;
    display: inline-block;
    content: "";
    background-image: url('~@/assets/icons/chevron-down.svg');
    background-repeat: no-repeat;
    vertical-align: -.2em;
    background-size: 1rem 1rem;
    width:1rem;
    height:1rem;
}

.dropdown-menu{
    display:inline-block;
    position:relative;
}

.dropdown-content{
    position:absolute;
    top:100%;
    right:0;
    z-index:100;
    background-color: white;
    border: 1px solid #E6E6FA;
    box-shadow: 0px 0px 5px 2px #E6E6FA;
}

.dropdown-list-button{
    display:block;
    width:100%;
    box-sizing:border-box;
    text-align:left;
    border-style:none;
    background-color:transparent;
    font-size:inherit;
    font-family: inherit;
    padding:8px 12px;
    cursor:pointer;
    white-space: nowrap;
    
}

.dropdown-list-button:disabled{
    color: #777;
}

.dropdown-list-button:hover:enabled{
    background-color:#E6E6FA;
}

.header-button{
    background-color: transparent;
    border-style:none;
    font-size:inherit;
    font-family: inherit;
    padding:8px;
    cursor:pointer;
}
.header-button:hover:enabled{
    background-color: #E6E6FA;
}

.header-button:disabled{
    color: #777;
}

.heading-back-group{
    display:flex;
    align-items: center;
    border-bottom: 1px solid #E6E6FA;
    margin-bottom:8px;
}

.heading-back-button{
    display:inline-block;
    background-color: transparent;
    border-style:none;
    font-size:inherit;
    font-family: inherit;
    margin-right:8px;
    cursor:pointer;
    background-image: url('~@/assets/icons/arrow-left.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width:20px;
    height:20px;

}

.heading-back-heading{
    font-size:18px;
    margin:5px 0;
    flex: auto;
    font-weight:600;
}

.option-description{
    margin-top:12px;
    color:#444444;
}